@font-face {
  font-family: 'Rubik';
  src: url(../fonts/Rubik/Rubik-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Rubik';
  src: url(../fonts/Rubik/Rubik-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Rubik';
  src: url(../fonts/Rubik/Rubik-Light.ttf);
  font-weight: 300;
}
